


.all-one {

    
    

    .box {
        max-width: 400px;
    }


       
       
}



.testimonial{

    span{
        width: 50px;
        height: 2px;
        // background-color: red;

    }


}
