// text  gradient
.text-gradient {
    background: linear-gradient(90deg, #0d47a1, #42a5f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border-r {
    border-radius: 50%;
    display: grid;
    place-items: center;
}


// testmonial
.testimonial {
    .aman {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid black;
        // background-color: red;

    }

    .d {
        height: 100px;
        width: 400px;
        border: 1px solid red;
        // background-color: red;


    }



    .card-body {
        max-width: 570px;
        border-radius: 2rem;

        border: 6px solid #F67766;


        span {
            height: 100px;
            width: 2px;
            background-color: gray;

            &:hover {
                background-color: blue;
            }
        }
    }

    .carousel-control-next {
        width: 80px;
        height: 80px;
        // background-color: rgb(225,225, 225,30%) 
        background-color: #F67766;



    }

    .carousel-control-next-icon {
        width: 40px;
        color: blue;
        height: 40px;

    }


}






.w-600 {
    width: 600px;
}

@media (max-width:991.99px) {

    .card-body {
        width: 550px;
    }



}

@media (max-width:720px) {

    .card-body {
        width: 400px;
    }




}